.Transform {
  background-image: url(../../assets//img/statistic.svg);
  padding: 3.5rem;
  margin-top: 8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Transform h4 {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.Transform h2 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Transform p {
  color: var(--white, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  margin-top: 15px;
}
.Transform .button {
  margin-top: 10px;
  border-radius: 4px;
  background: var(--red, #c01c25);
  color: var(--white, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 40px;
  position: relative;
  border: none;
  transition: 0.7s;
}
.Transform button:hover {
  background: #fff;
  color: #c01c25;
}
.Transform button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #c01c25;
  transition: 400ms ease all;
}
.Transform button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Transform button:hover:before,
.Transform button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.Transform .button2 {
  background: var(--white, #fff);
  color: var(--red, #c01c25);
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 40px;
  position: relative;
  margin-left: 25px;
  transition: 0.7s;
}

@media screen and (max-width: 600px) {
  
  .Transform p {
    width: 100%;
    font-size: 22px;
  }
  .Transform .buttonedit {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 300px) and (max-width: 421px) {
  .Transform .buttonedit button {
    width: 100%;
    padding: 10px 20px;
  }
  .Transform .buttonedit .button {
    width: 100%;
    padding: 10px 35px;
  }
}
