.Transform {
  background-image: url(../../assets//img/statistic.svg);
  padding: 3.5rem;
  margin-top: 8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Transform h4 {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.Transform h2 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.Transform p {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  margin-top: 15px;
}
.Transform .button {
  margin-top: 10px;
  border-radius: 4px;
  background: var(--red, #c01c25);
  color: var(--white, #fff);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  padding: 10px 23px;
  width: 10.5%;
  position: relative;
  border: none;
  transition: 0.7s;
}
.Transform .button2 {
  background: var(--white, #fff);
  color: var(--red, #c01c25);
  text-align: center;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 10px 23px;
  width: 10.5%;
  position: relative;
  margin-left: 25px;
  transition: 0.7s;
}
.Transform button:hover {
  background: #fff;
  color: #c01c25;
}
.Transform button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #c01c25;
  transition: 400ms ease all;
}
.Transform button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.Transform button:hover:before,
.Transform button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}


@media screen and (max-width: 767px) {
    .Transform{
      height: 580px;
      padding: 8.4rem 0;
      background-image: url("../../assets/img/statisticmobile.png");
    }
  .Transform p {
    width: 100%;
    font-size: 18px;
    line-height: 155%;
    font-weight: 400;
  }
  .Transform h2{
    font-size: 18px !important;
    width: 100%;
  }
  .Transform .buttonedit {
    display: flex;
    justify-content: center;
    gap: 0px !important;
  }
  .Transform button{
    font-size: 12px !important;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .Transform .buttonedit button {
    width: 100%;
    padding: 9px 10px;
    
  }
  .Transform .buttonedit .button {
    width: 130%;
    padding: 10px 30px;
    margin-left: -25px;
  }
  
}
@media screen and (min-width: 767px) and (max-width: 1100px) {
  .Transform h2{
    font-size: 28px !important;
  }
  .Transform h4{
    font-size: 16px !important;
  }
  .Transform .buttonedit button {
    width: 20% !important;
    padding: 9px 10px;
    
  }
  .Transform .buttonedit .button {
    width: 20% !important;
    padding: 10px 30px;
  }
}
@media screen and (max-width:361px) {
  .Transform p{
    font-size: 15px;
    width: 100%;
  }
  .Transform {
    padding: 9rem 0 !important;
  }
  .Transform h2{
    font-size: 18px !important;
  }
  .Transform .button2{
    padding:8px 15px !important;
    width: 80% !important;
    font-size: 9px !important;
    font-size: 12px !important;

  }
  .Transform .button{
    width: 130% !important;
    font-size: 9px !important;
    padding: 8px 27px !important;
    font-size: 12px !important;
  }
  .Transform .buttonedit{
    display: flex;
    align-items: center;
    gap: 0px;
  }
}
@media screen and (max-width:300px){
    .Transform .button{
      padding: 10px 10px !important;
      
    }
    .Transform .buttonedit{
      display: flex;
      gap: 20px !important;
    }
}
@media screen and (min-width:1100px) and (max-width:1350px) {
  .Transform .buttonedit button {
    width: 13% !important;
    padding: 9px 10px;
    
  }
  .Transform .buttonedit .button {
    width: 13% !important;
    padding: 10px 20px;
  }
}
@media screen and (min-width:599px) and (max-width:767px) {
  .Transform .buttonedit button {
    width: 100% !important;
    padding: 9px 10px !important;
    
  }
  .Transform .buttonedit .button {
    width: 100% !important;
    padding: 10px 30px !important;
  }
}

