.OurService {
  padding: 3rem 0;
}
.OurService h4 {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}

.OurService h2 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.OurService .box {
  margin: auto;
  border-radius: 5px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  width: 75%;
  height: 40vh;
  margin-top: 30px;
  cursor: pointer;
}

.OurService .box:hover {
  background-color: #143771;
}
.OurService .box:hover {
  transform: scale(1.1);
}
.OurService span:hover::before {
  width: 28%;
}
.OurService span:hover {
  text-decoration-color: transparent;
}
.OurService span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.5s;
  background-color: rgb(240, 18, 55);
}

.OurService .box:hover p {
  color: #fff;
}
.OurService .box:hover h5 {
  color: #fff;
}
.OurService .box:hover span {
  color: #fff;
}

.OurService .all {
  display: flex;
  justify-content: space-evenly;
}

.OurService p {
  margin-left: 30px;
  color: var(--gray-2, #545f6b);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.OurService h5 {
  color: var(--blue, #143771);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}
.OurService span {
  display: block;
  color: var(--blue, #143771);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 30px;
  margin-top: 40px;
  position: relative;
}
.OurService img {
  width: 15%;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .OurService .box {
    margin: auto;
    margin-top: 30px;
    width: 100%;
    height: 42vh;
  }
  .OurService .box p{
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .OurService .box {
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
  .OurService .box {
    height: 45vh;
    width: 100%;
  }
}
