.linkEdit button {
  display: flex;
  border-radius: 4px;
  padding: 10px 23px;
  background: var(--red, #c01c25);
  color: var(--white, #fff);
  text-align: center;
  font-size: 13px;
  border: none;
  line-height: normal;
  z-index: 1;
  font-weight: 600;
  transition: 800ms ease all;
  position: relative;
  margin-top: -15px;
  margin-left: 70px;
}
.linkEdit button:hover {
  background: #fff;
  color: #c01c25;
}
.linkEdit button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #c01c25;
  transition: 400ms ease all;
}
.linkEdit button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.linkEdit button:hover:before,
.linkEdit button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.linkEdit span:hover::before {
  width: 100%;
}
.linkEdit span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.5s;
  background-color: rgb(240, 18, 55);
}
.Header .left {
  z-index: 111;
}
.Header {
  padding: 10px 0;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.Header .left img {
  z-index: 2222;
}
.Header .left {
  margin-top: -10px;
  z-index: 22;
}

.Header .linkEdit {
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: 15px;
  line-height: normal;
  font-weight: 500;
  color: var(--gray, #363e47);
  z-index: 9999;
}

.Header nav {
  display: flex;
  align-items: center;
}

.Header .close {
  display: none;
}
.headerall {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.active {
  color: #c01c25 !important;
  text-decoration: underline;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  transition: 0.5s;
  background-color: rgb(240, 18, 55);
}

.nav_toggler div {
  width: 1.6rem;
  height: 2.6px;
  margin: 0.3rem;
  border-radius: 4px;
  background: rgb(78, 65, 65);
  transition: 0.4s ease-in;
}
.Header .left {
  position: relative;
  z-index: 2500;
}
.nav_menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  z-index: 1;
}
.nav_toggler {
  cursor: pointer;
  display: none;
  z-index: 999;
}
.headerall ul {
  list-style: none;
}

.Header .iconcontent {
  display: none;
}

@media screen and (max-width: 1000px) {
  .Header .iconcontent {
    display: flex;
    position: relative;
    margin-left: -17px !important;
    margin-top: -30px;
  }

  .Header .iconedit:hover .name {
    opacity: 1;
    pointer-events: visible;
    top: -70px;
  }
  .Header .name::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8px;
    left: 25%;
    transform: translateX(-50%) rotate(45deg);
    margin-bottom: 3px;
  }
  .iconedit:nth-child(1):hover,
  .iconedit:nth-child(1) .name,
  .iconedit:nth-child(1) .name::before {
    background: #07e934;
    color: white;
  }
  .iconedit:nth-child(2):hover,
  .iconedit:nth-child(2) .name,
  .iconedit:nth-child(2) .name::before {
    background: #eb0f0f;
    color: white;
  }
  .iconedit:nth-child(3):hover,
  .iconedit:nth-child(3) .name,
  .iconedit:nth-child(3) .name::before {
    background: #3f75eb;
    color: white;
  }
  .Header .iconedit img {
    width: 100% !important;
    border-radius: 50%;
    border: 1px solid rgba(20, 55, 113, 1);
  }

  .Header .iconedit {
    font-size: 22px;
    background: white;
    position: relative;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
  }
  .Header .name {
    position: absolute;
    top: 0px;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 25px;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.26, 1.55);
  }

  .linkEdit span {
    font-size: 22px;
    color: var(--gray, #363e47);
  }
  .headerall .right {
    display: flex;
    width: 100%;
    gap: 21px;
    justify-content: center;
  }

  .nav_toggler {
    display: block;
    margin-bottom: 15px;
    margin-left: 30px;
  }
  .nav_menu {
    list-style: none;
    position: fixed;
    top: 8.5vh;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95vh;
    padding: 150px 0px 150px 0px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120%);
    transition: 0.5s ease-in;
    background-color: #fff;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0;
  }
  .nav_active {
    opacity: 1;
  }

  .Header .linkEdit button {
    font-size: 8px;
    width: 70%;
    padding: 10px 20px;
  }
  .headerall {
    display: flex;
    align-items: center;
  }
}
.nav_active {
  transform: translateX(0);
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .headerall .right {
    display: flex;
    width: 100%;
    gap: 21px;
    justify-content: end;
  }
  .headerall .nav_toggler {
    margin-right: -50px;
  }
  .headerall button {
    padding: 10px 30px !important;
    width: 65% !important;
  }
  .Header .container {
    padding: 0px 50px 0px 0px !important;
  }
  .Header .nav_menu {
    top: 6vh !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .Header button {
    padding: 12px 25px;
    width: 80%;
    font-size: 11px !important;
  }
  .headerall ul {
    width: 100%;
  }
  .headerall .spanedit {
    display: inline-block;

    font-size: 17px;
    width: 170%;
  }
  .headerall {
    display: flex;
    justify-content: start;
  }
}

@media screen and (max-width: 361px) {
  .Header .left img {
    width: 120%;
  }
  .Header .left {
    width: 100%;
    margin-bottom: 5px;
  }
  .Header .right {
    width: 70%;
  }
  .Header .iconcontent {
    display: flex;
    position: relative;
    margin-top: 0px !important;
  }
  .Header .linkEdit button {
    padding: 9px 15px;
    font-size: 7px !important;
    width: 67% !important;
  }
  .Header .nav_toggler {
    margin-left: 38px !important;
  }

  .headerall .linkEdit span {
    display: inline-block;
    font-size: 22px !important;
    display: flex;
    align-items: end;
    margin-top: 20px !important;
  }
  .nav_menu {
    padding: 190px 0px 150px 0px !important;
    height: 94vh !important;

    top: 7.4vh !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

/* Toggle animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(0px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -10px);
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .nav_menu {
    top: 7vh !important;
  }
}
