.headerall {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.Header {
  padding: 10px 0;
  background-color: #fff;
  width: 100%;
}
.Header .left {
  margin-top: -10px;
}
.linkEdit {
  text-decoration: none;
}
.linkEdit span {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Header nav {
  display: flex;
  align-items: center;
}
.linkEdit button {
  display: flex;
  border-radius: 4px;
  padding: 8px 23px;
  background: var(--red, #c01c25);
  color: var(--white, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  border: none;
  font-weight: 600;
  line-height: normal;
  transition: 800ms ease all;
  position: relative;
  margin-top: -15px;
  margin-left: 70px;
}
.linkEdit button:hover {
  background: #fff;
  color: #c01c25;
}
.linkEdit button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #c01c25;
  transition: 400ms ease all;
}
.linkEdit button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.linkEdit button:hover:before,
.linkEdit button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.linkEdit .spanedit:hover::before {
  width: 100%;
}
.linkEdit .spanedit::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: 0.5s;
  background-color: rgb(240, 18, 55);
}
.Header .linkEdit {
  position: relative;
}
.Header span:hover {
  opacity: 0.8;
}

.Header .close {
  display: none;
}

.nav_toggler div {
  width: 2.2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(101, 84, 84);
  transition: 0.4s ease-in;
}
.nav_menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav_toggler {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1000px) {

  .linkEdit span {
    font-size: 35px;
  }
  .headerall .right{
    display: flex;
    width: 100%;
    gap: 21px;
    justify-content: center;
  }
  .nav_menu {
    position: fixed;
    top: 9vh;
    z-index: 1;
    right: 0;
    width: 100%;
    height: 91vh;
    background: #fff;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav_toggler {
    display: block;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .Header .linkEdit button {
    font-size: 10px;
    width: 60%;
    padding: 3px 30px;
  }
  .headerall{
    display: flex;
    align-items: center;
  }
}
.nav_active {
  transform: translateX(0);
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .headerall .right{
    display: flex;
    width: 100%;
    gap: 21px;
    justify-content: end;
  }
  .headerall .nav_toggler{
    margin-right: -50px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .Header button {
    padding: 2px 25px;
    width: 75%;
  }
  .headerall ul{
    width: 100%;
  }
  .headerall .spanedit{
    display: inline-block;

    font-size: 17px;
    width: 170%;
  }
  .headerall{
    display: flex;
    justify-content: start;
  }
    
}

.toggle .line1{
  transform: rotate(-45deg) translate(-1px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-9px, -12px)
}
