.Trust img {
  width: 60%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Trust .right:hover img {
  opacity: 0.7;
}
.Trust .row {
  justify-content: center;
}
.Trust h4 {
  color: var(--red, #c01c25);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.Trust h2 {
  color: var(--blue, #143771);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.Trust p {
  color: var(--gray-2, #545f6b);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 34.1px */
  margin-bottom: 40px;
}
.Trust button {
  border-radius: 3px;
  background: var(--white, #fff);
  color: var(--blue, #143771);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 85%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  padding: 14px 34px;
  margin-top: 10px;
  border: 3px solid transparent;
  border-left-color: #143771;
}
.Trust .right {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 600px) {
  .Trust img {
    margin: auto;
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .Trust img {
    width: 100%;
    margin-top: 100px;
  }
}
