.Footer {
  background: var(--blue, #143771);
  padding: 80px 0px 0px 0px;
}

.Footer .iconcontent {
  display: flex;
  position: relative;
  margin-left: -17px;
}
.Footer .iconedit:hover .name {
  opacity: 1;
  pointer-events: visible;
  top: -70px;
}
.Footer .name::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  bottom: -8px;
  left: 25%;
  transform: translateX(-50%) rotate(45deg);
  margin-bottom: 3px;
}
.iconedit:nth-child(1):hover,
.iconedit:nth-child(1) .name,
.iconedit:nth-child(1) .name::before {
  background: #07e934;
  color: white;
}
.iconedit:nth-child(2):hover,
.iconedit:nth-child(2) .name,
.iconedit:nth-child(2) .name::before {
  background: #eb0f0f;
  color: white;
}
.iconedit:nth-child(3):hover,
.iconedit:nth-child(3) .name,
.iconedit:nth-child(3) .name::before {
  background: #3f75eb;
  color: white;
}
.Footer .iconedit img {
  width: 100% !important;
  margin-top: 35px;
  border-radius: 50%;
}

.Footer .iconedit {
  font-size: 22px;
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}
.Footer .left img {
  width: 30%;
  margin-bottom: 35px;
  z-index: -1;
}
.Footer .name {
  position: absolute;
  top: 0px;
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 25px;
  color: black;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.26, 1.55);
}

.Footer .all {
  margin-bottom: 60px;
}

.Footer h5 {
  color: #fff;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
}
.Footer p {
  color: var(--white, #fff);
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
  line-height: 155%;
}
.Footer .center h6 {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.Footer .right h6 {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.Footer .righthr {
  width: 84% !important;
  opacity: 0.5;
  background: #fff;
  height: 2px;
}
.Footer .centerhr{
  width: 47%;
  opacity: 0.5;
  height: 2px;
  background: #fff !important;

}

.down {
  background: var(--blue, #3b5682);
  z-index: 1;
  padding: 0px 0px;
}

.down h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.Footer .down img {
  width: 1%;
  margin-top: 28px;
  z-index: 11;
}
.Footer .leftbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Footer .footer_active {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
}
.Footer .box a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .Footer .box p {
    font-size: 16px;
    width: 100%;
  }
  .Footer h6 {
    margin-top: 15px;
  }
  .Footer h5 {
    margin-top: 30px;
  }
  .Footer .iconcontent {
    position: absolute;
    bottom: 7%;
    left: 6.8%;
  }
  .Footer {
    width: 100%;
    position: relative;
  }
  .Footer .iconedit {
    width: 40px !important;
    height: 40px !important;
  }
  .Footer .left img {
    width: 55%;
  }
  .Footer .lefthr {
    width: 100% !important;
  }
  .Footer hr {
    width: 60%;
  }
  .Footer .down {
    padding: 0px !important;
  }
  .Footer .down h6 {
    font-size: 17px;
    margin-top: 0px !important;
  }
  .Footer .down img {
    width: 5%;
    padding: 0px !important;
  }
  .Footer .leftbox {
    display: flex;
    align-items: center;
  }
  .Footer .container{
    margin-top: -50px !important;
  }
  .Footer .righthr{
    width: 45% !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .Footer hr {
    width: 80%;
  }
  .Footer .box p {
    width: 95%;
    font-size: 16px !important;
  }
  .Footer .container {
    padding: 0px !important;
  }
  .Footer .left img {
    width: 50%;
  }
  .Footer .down .right {
    display: none;
  }
  .Footer .iconcontent {
    margin-top: 25px !important;
  }
  .Footer .box h6 {
    font-size: 15px !important;
    margin-top: 15px;
  }
  .Footer .down {
    padding: 0px !important;
  }
  .Footer .down h6 {
    font-size: 18px;
  }
  .Footer .down img {
    width: 2% !important;
    margin-top: 29px;
  }
  .Footer .leftbox {
    display: flex;
    align-items: center;
  }
  .Footer .iconedit {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .Footer .iconcontent {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .Footer hr {
    width: 50%;
  }
  .Footer .iconcontent {
    position: absolute;
    bottom: 6%;
    margin-left: -20px;
  }
  .Footer {
    position: relative;
  }
  .Footer h5 {
    margin-top: 30px;
    font-size: 23px;
  }
}
@media screen and (max-width: 361px) {
  .Footer .down h6 {
    font-size: 14px !important;
  }
  .Footer .iconcontent {
    position: absolute;
    bottom: 6%;
    left: 8.9%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
  .Footer h5{
    font-size: 15px !important;
  }
  .Footer .left{
    position: relative;
    left: 0;
  }
}