.Testimonial {
  padding: 5rem 0;
  overflow-x: auto;

}
.Testimonial h4 {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.Testimonial h2 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
}

.Testimonial .box {
  border-radius: 5px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  width: 100%;
  height: 43vh;
  margin-top: 30px;
  transition: 1s;
  cursor: pointer;
  /* overflow: scroll; */
}



.Testimonial::-webkit-scrollbar{
  /* display: none; */
  width: 0;
}
.Testimonial .box:hover {
  background-color: #143771;
}
.Testimonial .boxall:hover .box {
  transform: scale(1.1, 1.1);
}

.Testimonial .box:hover p {
  color: #fff;
}
.Testimonial .box:hover h5 {
  color: #fff;
}
.Testimonial .box:hover span {
  color: #fff;
}
.Testimonial .box:hover .iconsEdit {
  color: #fff;
}

.Testimonial .box:hover h6 {
  color: #fff;
}

.Testimonial p {
  margin-top: 10px;
  color: var(--gray, #363e47);
  text-align: center;
  width: 90%;
  margin-left: 10px;
  font-size: 13px;
  font-style: italic  !important;
  font-weight: 500;
  line-height: 140%; 
}
.Testimonial .iconsEdit {
  margin-top: 20px;
  font-size: 19px;
  color: rgba(255, 206, 57, 1);
}

.Testimonial img {
  width: 30%;
  margin-bottom: 5px;
}
.Testimonial h5 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.Testimonial h6 {
  color: var(--gray-2, #545f6b);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .Testimonial .box {
    margin: auto;
    margin-top: 30px;
    height: 45.5vh;
  }
  .Testimonial{
    margin-top: -50px !important;
    padding: 20px 0!important;
  }
  .Testimonial h2{
    font-size: 20px !important;
  }
  .Testimonial p{
    font-size: 15px !important;
    width: 90% !important;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .Testimonial .box {
    margin: auto;
    margin-top: 50px;
    height: 46vh;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .Testimonial .box {
    margin: auto;
    margin-top: 50px;
    height: 42vh;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .Testimonial .box {
    margin: auto;
    margin-top: 50px;
    height: 54vh;
    width: 100%;
  }
}
@media screen and (max-width:361px) {
    .Testimonial .box{
      height: 47vh;
    }
    
}