@import url("https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Borel", cursive;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

body {
  overflow-x: hidden;
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-style: normal;
}
img {
  z-index: 0;
}
button {
  cursor: pointer;
}
