@import url("https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Borel", cursive;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.App {
  width: 100%;
  height: 100vh;
  position: relative;
}
a {
  text-decoration: none !important;
}

.App span[aria-label="Loading Spinner"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body {
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #143771;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-style: normal;
}
img {
  z-index: 0;
}
button {
  cursor: pointer;
}
