@import url("https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Borel", cursive;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

body {
  overflow-x: hidden;
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-style: normal;
}
img{
  z-index: 0;
}
button{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .aos-animate {

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
