.About {
  padding: 15rem 0 0 0;
}
.About h3 {
  color: var(--red, #c01c25);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.About .right {
  background-image: url("../img/aboutus.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 55vh;
  margin-top: -40px;
  border-radius: 7px;
}
.About h2 {
  color: var(--blue, #143771);
  font-size: 31px;
  width: 80%;
  font-weight: 600;
  line-height: normal;
}
.About p {
  color: var(--gray-2, #545f6b);
  font-size: 15px;
  width: 78%;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
}
.About .right img {
  width: 85%;
}
.About .left {
  margin-bottom: 150px;
}
.About .downright {
  margin-top: 60px;
}
.About .downright p {
  width: 90% !important;
}
.About .imgbox img {
  width: 40%;
  margin-top: 20px;
}
.About .imgbox img:nth-last-child(2) {
  width: 30%;
  margin-left: 25px;
  margin-bottom: -200px;
}
.About .imgbox img:nth-last-child(1) {
  width: 37%;
}
.About .right p {
  width: 100%;
}

.Stats {
  padding: 0 0 10rem 0 !important;
}
.Stats h5 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
.Stats h6 {
  color: var(--blue, #143771);

  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}

@media screen and (max-width: 767px) {
  .About .right {
    background-image: url("../img/aboutus.png");
    width: 100%;
    height: 40vh !important;
    margin-top: -110px;
  }

  .About .imgbox {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  .About .imgbox img {
    width: 45% !important;
  }
  .Stats .box {
    margin: auto;
    margin-top: 20px;
  }
  .About {
    width: 100%;
    padding: 120px 0 !important;
  }

  .About .left h2 {
    width: 100%;
    font-size: 18px !important;
    text-align: left;
  }
  .About .left h3 {
    text-align: start;
  }
  .About .left h3 {
    font-size: 16px !important;
  }
  .About .left p {
    text-align: left;
    font-size: 16px;
    width: 100%;
  }
  .About .downright h2 {
    width: 100%;
    font-size: 24px;
    text-align: left;
  }
  .About .downright {
    margin-top: 0px !important;
    padding: 0px !important;
  }
  .About .downright h3 {
    margin-top: 20px;
    font-size: 16px !important;
  }
  .About .downright h2 {
    font-size: 20px !important;
  }
  .About .downright p {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    width: 110% !important;
  }

  .Stats h5 {
    font-size: 40px;
  }
  .Stats h6 {
    font-size: 18px;
  }
  .Stats .box {
    margin-top: 60px;
  }
  .Stats {
    margin-top: -230px;
    padding: 0px 0px 80px 0 !important;
  }
  .About .all2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .Stats .box {
    margin: auto;
    margin-top: 20px;
  }
  .About p {
    width: 100%;
    font-size: 20px;
  }
  .About .all2 .left {
    margin-top: 160px;
  }
  .About .all2 {
    margin-top: -150px !important;
  }
  .About .downright {
    margin-left: 30px;
  }
  .About .all2 p {
    color: var(--gray-2, #545f6b);
    font-size: 19px;
    font-style: normal;
    width: 110% !important;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
  }
  .About .all2 .imgbox img {
    width: 45% !important;
  }
  .About {
    padding: 200px 0 !important;
  }
  .About .container {
    padding: 0px !important;
  }
  .About p {
    color: var(--gray-2, #545f6b);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    width: 100% !important;
  }
  .About h2 {
    font-size: 25px !important;
    color: var(--blue, #143771);
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 39px */
  }
  .About h3 {
    color: var(--red, #c01c25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .Stats h6 {
    font-size: 13px;
    width: 100%;
  }
  .Stats .all {
    width: 100%;
  }
  .Stats{
    margin-top: -100px;
    padding: 0px 0px 100px 0 !important;
  }
  .Stats .container {
    padding: 0px !important;
  }
  .About .right {
    background-image: url("../img/aboutus.svg");
    margin-top: 110px;
  }
}

@media screen and (max-width: 361px) {
  .About .right {
   height: 43vh !important;
   margin-top: -120px !important;
  }
  .About .downright {
    margin-top: 0px !important;
  }
  .About .left h3 {
    font-size: 15px !important;
  }
  .About .left h2 {
    font-size: 17px !important;
  }
}
@media screen and (min-width: 380px) and (max-width: 400px) {
  /* .About .right {
    height: 45vh !important;
  } */
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .About .right {
    height: 40vh !important;
    margin-top: -100px !important;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .About .right {
    margin-bottom:30px !important;
    margin-top: -100px !important;
  }
  .About .imgbox img{
    width: 40% !important;
  }
}
@media screen and (max-width: 300px) {
  .About .imgbox img {
    width: 43% !important;
  }
}
@media screen and (min-width:299px) and (max-width:350px){
  .About .all2 .imgbox  img{
    width: 40% !important;
  }
  .About .right{
    height: 50vh !important;
    margin-top: -100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .Stats .box {
    margin: auto;
    margin-top: 20px;
  }
  .About p {
    width: 100%;
    font-size: 20px;
  }
  .About .all2 .left {
    margin-top: 120px;
  }
  .About .all2 {
    margin-top: -250px !important;
  }
  .About .downright {
    margin-left: 30px;
  }
  .About .all2 p {
    color: var(--gray-2, #545f6b);
    font-size: 19px;
    font-style: normal;
    width: 120% !important;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
  }
  .About .all2 .imgbox img {
    width: 45% !important;
  }
  .About {
    padding: 200px 0 !important;
  }
  .About .container {
    padding: 80px !important;
  }
  .About p {
    color: var(--gray-2, #545f6b);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    width: 100% !important;
  }
  .About h2 {
    font-size: 25px !important;
    color: var(--blue, #143771);
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 39px */
  }
  .About h3 {
    color: var(--red, #c01c25);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .Stats h6 {
    font-size: 13px;
    width: 100%;
  }
  .Stats .all {
    width: 100%;
  }
  .Stats{
    margin-top: -200px;
    padding: 0px 0px 100px 0 !important;
  }
  .Stats .container {
    padding: 0px !important;
  }
  .About .right {
    background-image: url("../img/aboutus.svg");
    margin-top: 110px;
  }
}
