.Terms {
  padding: 10rem 0;
}
.Terms h2 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
}
.Terms .boxAll {
  background: var(--white, #fff);
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
  padding: 35px 55px;
  margin-top: 60px;
}
.Terms .box {
  margin-top: 40px;
}
.Terms span {
  color: var(--blue, #143771);
  font-size: 18px;
  margin-left: 10px;
  font-weight: 500;
  line-height: 155%; 
}
.Terms p {
  color: var(--gray-2, #545f6b);
  margin-top: 10px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 400;
  line-height: 160%; 
}
.Terms h6 {
  color: var(--red, #c01c25);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%; 
}
