.Customers {
  padding: 8rem 0 5rem 0;
}

.Customers h4 {
  color: var(--red, #c01c25);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}
.Customers h2 {
  color: var(--blue, #143771);
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: normal;
}

.Customers .imgedit {
  width: 60% !important;
  height: 30vh;
}
.Customers .container {
  overflow: hidden;
}

.bgimg {
  width: 100% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .bgimg {
    display: block;
  }
  .owl-stage {
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 2px !important;
    margin-left: 40px;
  }

  .bgimg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bgimg img {
    margin: 0px !important;
    display: flex;
    align-items: center;
  }

  .Customers {
    padding: 3.5rem 0 !important;
  }
  .Customers .container {
    padding-bottom: 0px !important;
  }
  .Customers {
    position: relative;
    padding-top: 80px !important;
  }

  .imgedit {
    height: 20vh !important;
  }
  .Customers h2 {
    font-size: 18px;
  }
  .Customers h4 {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 767px) and (max-width: 1025px) {
  .bgimg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -30px;
  }
  .bgimg img {
    margin: 0px !important;
    display: flex;
    align-items: center;
  }
  .owl-stage {
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 70px !important;
  }

  .Customers {
    padding: 100px 0px 0px 0px;
  }

  .Customers .container {
    padding: 0px !important;
  }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
  .owl-stage {
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 3px !important;
    margin-left: 55px !important;
  }
}
@media screen and (max-width: 361px) {
  .Customers h2 {
    font-size: 27px;
  }
  .owl-stage {
    margin-top: 30px;
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 70px;
    margin-left: 35px !important;
  }

  .Customers {
    padding: 5rem 0 5rem 0 !important;
  }
  .Customers h4 {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 299px) and (max-width: 350px) {
  .owl-stage {
    margin-top: 30px;
    display: flex;
    width: 100% !important;
    align-items: center;
    gap: 70px;
    margin-left: 10px !important;
  }
}

.owl-stage {
  display: flex;
  width: 100% !important;
  align-items: center;
  gap: 70px;
}
.owl-carousel {
  width: 100% !important;
}
.owl-prev,
.owl-next {
  display: none;
}
.owl-dot {
  display: none;
}
.owl-item.active::before {
  content: none;
}
@media screen and (min-width: 450px) and (max-width: 550px) {
  .owl-stage {
    display: flex;
    width: 100% !important;
    align-items: center;
    margin-top: -50px !important;
    gap: 19px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .owl-carousel {
    position: relative;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .owl-stage {
    display: flex;
    width: 100% !important;
    align-items: center;
    margin-top: -50px;
    gap: 130px !important;
  }

  .Customers {
    padding: 100px 0px 0px 0px;
  }

  .Customers .container {
    padding: 0px !important;
    
  }
}
@media screen and (max-width:640px) and (min-width:360px){
  .owl-stage{
      margin-top: 50px;
  }
  .Customers{
    padding-bottom: 100px !important;
  }
}